    <!-- Download Section -->
    <section id="buy" class="content-section text-center">
        <div class="buy-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Get the book</h2>
                    <p>You can order your copy of 'Cards from the Edge' via Amazon or direct from JoT Publishing:</p>
                    <a href="http://www.amazon.co.uk/" class="btn btn-default btn-lg">Amazon</a> <a href="mailto:{{ site.email }}" class="btn btn-default btn-lg">Contact me</a>
                </div>
            </div>
        </div>
    </section>