    <!-- Intro Header -->
    <header class="intro" style="background: url(/img/the-sound.jpg) no-repeat bottom center scroll">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">{{ page.title }}</h1>
                        {% if page.subtitle %}
                            <p class="intro-text">{{ page.subtitle }}</p>
                        {% endif %}
                        <br>
                        <!-- <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span> -->


                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>